name: Docker CI/CD

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Log in to Docker Hub
      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3. Remove old local image
      - name: Remove old local image
        run: docker rmi -f devjam12/node-server:latest || true

      # 4. Build new Docker image
      - name: Build Docker image
        run: docker build --build-arg JWT_SECRET=${{ secrets.JWT_SECRET }} --build-arg DATABASE_URL=${{ secrets.DATABASE_URL }} --build-arg PORT=${{ secrets.PORT }} -t devjam12/node-server:latest .

      # 5. Push Docker image to Docker Hub
      - name: Push Docker image
        run: docker push devjam12/node-server:latest
